@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f6f6f6;
  --ussd-color: #0073ff;
  --text-color: #333333;
  --background-color: #fff;
  --border-color: #f6f6f6;
  --item-color: #5a5a5a;
  --arrow-icon-color: #858585;
  --card-color: #ffffff;
  --icon-color: #5a5a5a;
  --icon-size: 24px;
}
