@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Roboto:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f6f6f6;
  --ussd-color: #0073ff;
  --text-color: #333333;
  --background-color: #fff;
  --border-color: #f6f6f6;
  --item-color: #5a5a5a;
  --arrow-icon-color: #858585;
  --card-color: #ffffff;
  --icon-color: #5a5a5a;
  --icon-size: 24px;
  --text-size: 14px;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-segmented-item-label {
  padding: 0 !important;
}

.ant-segmented-thumb {
  display: none;
}

.ant-segmented-group {
  gap: 64px;
}

.ant-segmented-item-selected {
  background: transparent !important;
  box-shadow: none !important;
  color: transparent !important;
}

.ant-segmented {
  background-color: var(--background-color);
}
