@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Roboto:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f6f6f6;
  --ussd-color: #0073ff;
  --text-color: #333333;
  --text-value-color: #000000;
  --background-color: #fff;
  --border-color: #f6f6f6;
  --item-color: #5a5a5a;
  --arrow-icon-color: #858585;
  --card-color: #ffffff;
  --icon-color: #5a5a5a;
  --icon-size: 24px;
  --text-size: 14px;
  --text-large: 20px;
  --text-weight: 400;
  --text-small: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.ant-segmented-item-label {
  padding: 0 !important;
}

.ant-segmented-thumb {
  display: none;
}

.ant-segmented-group {
  gap: 64px;
}

.ant-segmented-item-selected {
  background: transparent !important;
  box-shadow: none !important;
  color: transparent !important;
}

.ant-segmented {
  background-color: var(--background-color);
}

.ant-tabs-nav-more {
  display: none;
}

.swiper-slide {
  margin: 0 !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 291px !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-wrapper {
  gap: 16px;
}
